* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(136deg, black,white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 350px;
}
#pantalla {
  grid-column: 1 / -1;
  height: 60px;
  background-color: #222;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000;
}
.btn {
  height: 60px;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #ddd;
  transform: scale(1.1);
}
#p {
  background-color: #ff4757;
  color: white;
  font-weight: bold;
}
@media(max-width:400px){
    .contenedor{
      width: 90vw;
      height: 60vh;
      font-size: 2rem;
    }
    #pantalla {
    font-size: 1.5rem;
    height: 50px;
    padding: 8px 12px;
  }
  
  .btn {
    height: 50px;
    font-size: 1.2rem;
  }
}

